div{
    background-color: #DAF5FF;
    
    text-align: center;
}
body{
    margin: 0 0 0 0;
    font-family: Georgia,serif;
    background-color: #DAF5FF;
    
}
h1{
    font-size: 5.8rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
}
h2{ 
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{  
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 5%;
    height: 10px;
    border-top:10px dotted ;
    border-color: grey;
    border-left:0px none;
    border-bottom:0px none;border-right:0px none;
    margin-top: 60px;
    /* border:10px 0 0 0; */
    
}
.profile{
    width: 30%;
    line-height: 2;
    text-align: center;
    padding-left: 35%;
    
}
.contact-me{
    width:50%;
    background-color: white;
    margin-bottom: 100px;
    padding-left: 25%;
}
.mountain{
    text-align: center;
}
.Pro{
    text-decoration: underline;    
}
.bottomcloud{
    position: absolute;
    bottom: 300px;
    left:300px;
}
.topcloud{
    position: relative;
    left:400px;    
}
.cpic{
    width: 35%;
    
    border-radius: 100px;
    float: left;
    margin-right: 150px;
    
}
.pythonpic{
    width: 23%;
    float: right;
    margin-right: 10px;

}
.top-container{
    
    position: relative;
    padding-top: 100px;
}
.middle-container{

    background-color: white;
}
.bottom-container{
    background-color: #66BFBF;
    height: 200px;
}
.profile{
    background-color: white;
}
.skills{
    background-color: white;
}
.skill-row{
    background-color: white;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
#footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top:80px;
    text-decoration: none;
    
}
#footer-link:hover{
    color: white;
}
.cred{
    color: #EAF6F6;
    position: relative;
    top:80px;
}
a:hover{
    color:white;
    font-family: 'Montserrat', sans-serif;
    

}
.btn {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
